.texto{
    font-family: 'Inter Tight', sans-serif;
}

.titulo{
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: bold;
}

.texto-enlace{
    font-family: 'Inter Tight', sans-serif;
    text-decoration: underline;
}

.nav-item{
    text-decoration: underline;
}

.bg-jwiki1{
    background-color: rgb(138, 108, 247);
}

.agradecimiento h1{
    color: #667EEA;
}

.btn-enviar{
    text-decoration: underline;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 25px;
    background-color: #667eea;
}

.caja-form{
    color: #444343;
    border-color: rgb(184, 181, 181);
}
.input-group input{
    border-color: rgb(184, 181, 181);
}

.input-group textarea{
    border-color: rgb(184, 181, 181);
}

.container-fluid{
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
}